@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

For any problems with the website, please contact Marc. Marc built the website and if there are any bugs, blames them entirely on being drunk when the code was written...

<address>
    <strong>Support:</strong>   <a href="mailto:marc@blackhawkdown.org.uk">EMAIL MARC</a>
</address>