@{
    ViewBag.Title = "Contact";
}
<div class="contact-page jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>If you would like any information about the wedding - times, places etc then please keep an eye on this site, as we'll be updating it with more details as they get decided.</p>

    <p>you can get in touch with us by email or phone using the links below:</p>
    <a href="mailto:natalienadinen@yahoo.co.uk">EMAIL Natalie at natalienadinen@yahoo.co.uk</a>
    <a href="tel:07702245796">CALL MARC on 07702 245 796</a>

    <p>For any problems with the website, please contact Marc:</p>
    <a href="mailto:marc@blackhawkdown.org.uk">EMAIL MARC at marc@blackhawkdown.org.uk</a>
    <a href="tel:07716373174">CALL MARC on 07716 373 174</a>
</div>