
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="menu-page">
    <h2>Menu</h2>

    <h3>
        Starters
    </h3>

    <h4>Vegetable Soup</h4>
    <p>Made with a selection of seasonal vegetables, served with croutons and a warm roll</p>

    <h4>Melon Balls</h4>
    <p>Made with a selection of melons and served with a scoop of raspberry sorbet</p>

    <h4>Breaded Garlic Mushrooms</h4>
    <p>Served with a fresh salad and a garlic mayonnaise dip</p>

    <h4>Prawn Cocktail</h4>
    <p>Prawns served on a bed of fresh lettuce and marie rose sauce</p>

    <h3>Main Course</h3>

    <h4>Roast Beef - Roast Pork - Roast Turkey</h4>
    <p>A choice of the above served with Yorkshire pudding, roast potatoes and a selection of seasonal vegetables</p>

    <h4>Vegetable Wellington</h4>
    <p>Served with new potatoes and a selection of seasonal vegetables</p>

    <h3>Desserts</h3>

    <h4>Apple crumble, served with custard</h4>
    <h4>Raspberry pavlova</h4>
    <h4>Chocolate fudge cake</h4>
    <h4>Selection of ice cream</h4>

</div>