@model Wedding.Models.GuestList

@{
    ViewBag.Title = "SubmitGuests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="thank-you-page jumbotron">
    <div>
        <h2>Thanks for your reply!</h2>
        <p>Here's some more information about the wedding:</p>
    </div>

    <ul>
        <li>@Html.ActionLink("Wedding Breakfast Menu", "Menu", "Home")</li>
        <li>@Html.ActionLink("Wedding List", "WeddingList", "Home")</li>
        <li>@Html.ActionLink("Wedding Day Info", "WeddingDay", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>

</div>