
@{
    ViewBag.Title = "WeddingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron wedding-list-page">
    <h2>Wedding List</h2>
    <p>As love is what the night is all about, your presence is one we can’t celebrate without.</p>
    <p>To save you shopping, looking and buying, a gift of some money, we thought you’d like trying.</p>
    <p>However, if you prefer to purchase a gift, feel free to surprise us in your own way.</p>
    <p>Whatever you choose will make our day!</p>
</div>
