
@{
    ViewBag.Title = "WeddingDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wedding-day-page jumbotron">
    <h1>The Wedding Day</h1>

    <h2>The Ceremony</h2>
    <p>The ceremony will be taking place at Stamford Registry Office, St. Mary's St, PE9 2DR, at 2:30pm. Please try to arrive by around 2pm.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2420.4957259868916!2d-0.47805909999999996!3d52.65102305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48778bcfd2838bb3%3A0x8344fb1581a6dbac!2sStamford%2C+Lincolnshire+PE9+2DR!5e0!3m2!1sen!2suk!4v1433703459951" width="600" height="450" frameborder="0" style="border:0"></iframe>

    <h2>The Wedding Breakfast</h2>
    <p>The Wedding Breakfast will be held at the Danish Invader on Empingham Road, PE9 2SX. It will be open from 12pm and the meal will begin at 5pm.</p>

    <h2>The Wedding Reception</h2>
    <p>The reception will also be in the Danish, and will be starting around 7.30pm.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9681.395455360305!2d-0.500997!3d52.653676!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28c916dd20c6cba2!2sDanish+Invader!5e0!3m2!1sen!2suk!4v1433703532720" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>